cdk/lib/stepfunction.json
{
    "Comment": "Tag purger workflow-v2",
    "StartAt": "Each Tag",
    "States": {
        "Each Tag": {
            "Type": "Map",
            "Next": "Call Purge Function",
            "ItemsPath": "$.tags",
            "ItemSelector": {
                "distributionId.$": "$$.Execution.Input.distributionId",
                "tag.$": "$$.Map.Item.Value"
            },
            "MaxConcurrency": 1000,
            "ItemProcessor": {
                "ProcessorConfig": {
                    "Mode": "DISTRIBUTED",
                    "ExecutionType": "STANDARD"
                },
                "StartAt": "Fetch Purge Urls",
                "States": {
                    "Fetch Purge Urls": {
                        "Type": "Task",
                        "Parameters": {
                            "TableName.$": "States.Format('TagPrimaryStack-{}', $.distributionId)",
                            "ExpressionAttributeValues": {
                                ":p1": {
                                    "S.$": "$.tag"
                                }
                            },
                            "KeyConditionExpression": "tag = :p1"
                        },
                        "Resource": "arn:aws:states:::aws-sdk:dynamodb:query",
                        "Next": "Purge URLs"
                    },
                    "Purge URLs": {
                        "Type": "Map",
                        "ItemsPath": "$.Items",
                        "End": true,
                        "Iterator": {
                            "StartAt": "Push To Purge Queue",
                            "States": {
                                "Push To Purge Queue": {
                                    "Type": "Task",
                                    "End": true,
                                    "Resource": "arn:aws:states:::sqs:sendMessage",
                                    "Parameters": {
                                        "MessageBody.$": "$",
                                        "MessageAttributes": {
                                            "distributionId": {
                                                "DataType": "String",
                                                "StringValue.$": "$$.Execution.Input.distributionId"
                                            }
                                        },
                                        "QueueUrl": "https://sqs.us-east-1.amazonaws.com/444603092185/TagPrimaryStack-PurgeQueueDB15AA5E-xGgEHSxj4nSu"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "Call Purge Function": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "OutputPath": "$.Payload",
            "Parameters": {
                "FunctionName": "${TagPurgerFunctionArn}"
            },
            "Retry": [
                {
                    "ErrorEquals": [
                        "Lambda.ServiceException",
                        "Lambda.AWSLambdaException",
                        "Lambda.SdkClientException"
                    ],
                    "IntervalSeconds": 3,
                    "MaxAttempts": 6,
                    "BackoffRate": 2
                }
            ],
            "End": true
        }
    }
}